{% extends 'base.html' %}

{% block title %}Список товаров{% endblock %}

{% block content %}
    <style>
        .product-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 20px;
        }

        .product-card {
            background-color: white;
            border: 1px solid #ddd;
            border-radius: 8px;
            padding: 15px;
            margin-bottom: 20px;
            width: calc(30% - 20px);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s;
        }

        .product-card img {
            width: 100%;
            height: auto;
            border-radius: 8px;
        }

        .product-card h2 {
            font-size: 1.5em;
            margin: 10px 0;
        }

        .product-card p {
            margin: 5px 0;
        }

        .no-items {
            font-size: 1.5em;
            color: #999;
            text-align: center;
            margin-top: 20px;
        }

        h1 {
            text-align: center;
            color: #333;
        }

        .create-button {
            display: block;
            margin: 20px auto;
            padding: 10px 20px;
            font-size: 1.2em;
            color: white;
            background-color: #28a745;
            border: none;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }

        .create-button:hover {
            background-color: #218838;
        }
    </style>

    <h1>Список товаров</h1>
    <a href="{% url 'produce_create' %}" class="create-button">Создать товар</a>
    <div class="product-list">
        {% for prod in produces %}
            <div class="product-card">
                {% if prod.image %}
                    <img src="{{ prod.image.url }}" alt="{{ prod.name }}">
                {% else %}
                    <p>Изображение не найдено.</p>
                {% endif %}
                <h2><a href="{% url 'produce_detail' prod.pk %}">{{ prod.name }}</a></h2>
                <p>Статус: {{ prod.status }}</p>
                <p>Цена: {{ prod.price }} руб.</p>
            </div>
        {% empty %}
            <div class="no-items">Товары отсутствуют</div>
        {% endfor %}
    </div>
{% endblock %}